baseURL = 'http://localhost:1313/portfolio/'
languageCode = 'en-us'
title = 'Rogelio Orona | Senior Software Engineer'
enableGitInfo = false

[pagination]
  pagerSize = 10

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[module]
  [module.hugoVersion]
    extended = true
    min = "0.112.0"
  [[module.imports]]
    path = "github.com/nunocoracao/blowfish/v2"

